# Copy to .env and fill in.
# Generate secret key: `openssl rand -base64 60 | tr -d '\n'`
AUTHENTIK_SECRET_KEY=

# Initial admin (created on first boot). Login at http://localhost:9000/if/flow/initial-setup/
AUTHENTIK_BOOTSTRAP_EMAIL=admin@localhost
AUTHENTIK_BOOTSTRAP_PASSWORD=
