<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index Page</title>
</head>
<body>
    <div>
        <h1>{{message}}</h1>
    </div>
    <div>
        <button onclick="oauth2.openPopup()">Login</button>
        <div id="status"></div>

        <script src="{{auth_route_prefix}}/oauth2.js"></script>
        <script>
            const oauth2 = initOAuth2Popup();
        </script>
    </div>
</body>
</html>
