<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index Page</title>
</head>

<body>
    <div>
        <h1>{{message}}</h1>
        <p>You may now access <a href="/protected">/protected</a>.</p>
    </div>

    <div>
        <button onclick="Logout()">Logout</button>
        <script>
            function Logout() {
                window.location.href = "{{auth_route_prefix}}/user/logout?redirect=/";
            }
        </script>
    </div>
    <div>
        <button onclick="signOutAndRedirect();">signOutAndRedirect</button>
        <script src="{{auth_route_prefix}}/oauth2/oauth2.js"></script>
        <script>
            const oauth2 = initOAuth2Popup();
            const O2P_ROUTE_PREFIX = '{{auth_route_prefix}}';
        </script>
    </div>
</body>

</html>
