<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index Page</title>
    <script>
        const AUTH_ROUTE_PREFIX = '{{auth_route_prefix}}';
    </script>
</head>
<body>
    <div>
        <h1>{{message}}</h1>
    </div>
    <div>
        Oauth2: <button onclick="oauth2.openPopup()">Login</button>
        <div id="status"></div>

        <script src="{{auth_route_prefix}}/oauth2.js"></script>
        <script>
            const oauth2 = initOAuth2Popup();
        </script>
    </div>

                <div style="display: flex; gap: 10px; margin-top: 10px;">
                Passkey: <input
                    type="text"
                    id="username-input"
                    placeholder="Enter username"
                    style="padding: 5px; border: 1px solid #ccc; border-radius: 4px;"
                >
                <button
                    onclick="startAuthentication(true)"
                    class="auth-button"
                >
                    Sign in with Username
                </button>
                    <script>
        const PASSKEY_ROUTE_PREFIX = '{{passkey_route_prefix}}';
    </script>
        <script src="{{passkey_route_prefix}}/passkey.js"></script>
            </div>

</body>
</html>
