<!DOCTYPE html>
<html>
<head>
    <title>User List</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{o2p_route_prefix}}/admin/admin_user.css">
</head>
<body>
    <div class="page-header">
        <h1>User List</h1>
        <nav>
            <a href="{{o2p_route_prefix}}/user/summary">Go Back</a>
        </nav>
        <div class="header-buttons">
            <button onclick="Logout()" class="action-button">Logout</button>
        </div>
    </div>
    <div class="content">
        <table class="user-table">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Account</th>
                    <th>Label</th>
                    <th>Is Admin</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for user in users %}
                <tr class="user-row">
                    <td><a href="{{o2p_route_prefix}}/admin/user/{{ user.id }}">{{ user.id }}</a></td>
                    <td>{{ user.account }}</td>
                    <td>{{ user.label }}</td>
                    {% if user.sequence_number.is_some() && user.sequence_number.unwrap() == 1 %}
                        <td>
                            <span>{{ user.is_admin }}</span>
                        </td>
                        <td>
                        </td>
                    {% else %}
                        <td>
                            <button onclick="toggleAdminStatus('{{ user.id }}', {{ user.is_admin }})">
                                <span id="admin-status-{{ user.id }}">{{ user.is_admin }}</span>
                            </button>
                        </td>
                        <td>
                            <button onclick="DeleteAccount('{{ user.id }}')" class="action-button delete-button">Delete</button>
                        </td>
                    {% endif %}
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <script src="{{o2p_route_prefix}}/admin/admin_user.js"></script>
    <script>
        const csrfToken = "{{csrf_token}}";
        const O2P_ROUTE_PREFIX = "{{o2p_route_prefix}}";
        function Logout() {
            window.location.href = "{{o2p_route_prefix}}/user/logout?redirect={{o2p_redirect_anon}}";
        }
    </script>

</body>
</html>
