<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index Page</title>

    <script src="{{o2p_route_prefix}}/oauth2/oauth2.js"></script>
    <script src="{{o2p_route_prefix}}/passkey/passkey.js"></script>

    <script>
        const O2P_ROUTE_PREFIX = '{{o2p_route_prefix}}';
    </script>

</head>

<body>
    <div>
        <h1>{{message}}</h1>
    </div>
    <div style="display: flex; gap: 10px; margin-top: 10px;">
        Google OAuth2:
    </div>
    <div style="display: flex; gap: 10px; margin-top: 10px;">
        <button onclick="oauth2.openPopup('create_user')">Create User</button>
        <button onclick="oauth2.openPopup('login')">Sign in</button>
        <button onclick="oauth2.openPopup('create_user_or_login')">Either way</button>
    </div>

    <div style="display: flex; gap: 10px; margin-top: 10px;">
        Passkey:
    </div>
    <div style="display: flex; gap: 10px; margin-top: 10px;">
        <button onclick="showRegistrationModal('create_user')">
            Create User
        </button>
        <button onclick="startAuthentication(false)">Sign in</button>
        or <a href="{{o2p_route_prefix}}/passkey/conditional_ui">try conditional UI</a>
    </div>

</body>

</html>
